@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

:root {
    --grey: #9b9b9b;
    --black: #1A1A1A;
    --dark-grey: #333333;
    --soft-white: #fafafa;
    --color-primary: #FBB03B;
    --color-secondary: #8B1A7E;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    body {
        header {
            .navbar {
                padding: 0 1rem;
                .navbar-brand {
                    padding-top: 0;
                    .img-brand {width: 95px;}                    
                    .img-shrink {width: 90px;}
                }
                .navbar-nav {display: none;}    
                &.navbar-scrolled, &.nav-pages {
                    box-shadow: 0px 1px 20px 1px #424242;
                    -webkit-box-shadow: 0px 1px 20px 1px #424242;
                    .m-toggle {color: #fff;}
                }
            }
            
            .mobile-menu {
                display: flex !important;
                padding: 0.5rem 0;
                margin-left: auto;  
    
                &.opened {
                    .m-toggle {
                        color: var(--color-primary);
                        &::before {content: 'clear';}
                    }
                    .menu {
                        top: 0;
                        height: 100vh;    
                        .menu-wrapper {
                            display: block;
                            opacity: 1;
                        }
                    }
                }
                
                .m-toggle {
                    color: #fff;
                    text-decoration: none;   
                    border: none;
                    background: transparent;
    
                    &::before {
                        font-family: "Material Icons";
                        content: 'menu';
                        font-size: 1.5rem;
                        font-weight: normal;
                    }
                    
                    &:focus {outline: none;}
                }
    
                .menu {
                    background: var(--black);
                    width: 100vw;
                    height: 0;
                    position: absolute;
                    top: -15rem;
                    left: 0;
                    z-index: -1;
                    transition: .5s all ease-in-out;
    
                    .menu-wrapper {
                        opacity: 0;
                        display: none;
                        position: relative;
                        height: inherit;
                        transition: opacity .5s ease;
    
    
                        #menu-item {
                            width: 80%;
    
                            .btn-link {
                                color: var(--soft-white);
                                font-size: 1rem;
                                text-transform: uppercase;
                                &:hover,&:focus {
                                    color: var(--color-primary);
                                    text-decoration: none;
                                    box-shadow: none;
                                }
                            }
    
                            .card, .card-header {
                                background-color: unset;
                                border: unset;
                                padding: 0 1rem;
                            }
                        }
                    }
                }
            }
        }

        main {
            &#content {padding-bottom: 0;} //sebelumnya 300px ngikutin footer
            
            .cta-link {font-size: 1rem;}
            .carousel-indicators {display: none;}
            .header {
                height: 45vh;

                .small-device-wrapper {
                    top: 47% !important;
                    .heading {
                        font-size: 1.7rem;
                        line-height: 1.5rem;
                    }
                }
            }
            .showcase {
                padding: 1rem;
                .showcase-model-one {
                    height: unset !important;
                    .text {
                        padding: 1rem 0;
                        max-width: 100%;
                        h2 {font-size: 1.5rem;}
                    }
                    .showcase-product {
                        img#pr {height: auto; width: 80%;}                            
                    }
                }
                .showcase-model-two {
                    height: 300px;
                    .text {
                        padding: 1rem;
                        max-width: 100%;
                        h2 {font-size: 1.5rem;}
                    }
                }
            }
            .partners {
                h2 {font-size: 1.5rem;}
            }
            .about-us {
                padding: 2rem 0;
                h2 {font-size: 1.5rem;}
                span {font-size: 1.2rem;font-weight: 500;}
                .about-content {
                    .desc {line-height: 1.2rem;font-weight: 300;}
                    .border-grey {height: 250px;}
                    .tagline p, span {font-size: 1.3rem !important;}
                    .about-image .overlay{position: relative;margin: auto;width: 70%;}
                }
            }
            .section.header.contact {
                .maps {margin: 5rem 0 2rem !important;}
            }
            .contact-us {
                h2 {font-size: 1.5rem;}
                .the-form {
                    padding: 1rem;
                    label {font-size: 0.8rem;}
                }
            }
            .products {
                padding: 2rem 0;
                h2 {font-size: 1.5rem;}
                p,li {line-height: 1.2rem;font-weight: 300;}
                .product-category {
                    padding-top: .5rem;
                    #category-sm {
                        display: flex;
                        padding-bottom: 2rem;
                        .cat-sm {
                            max-width: 80%;
                            a {
                                color: var(--black);
                                padding: .5rem 0;
                                padding-inline-start: 35px;
                                text-decoration: none;
                                cursor: pointer;
                                transition: all .3s ease-in-out;
                                &.active {color: var(--color-primary);}
                                span {
                                    font-size: 1.4rem;
                                    position: absolute;
                                    left: 3px;
                                }   
                                &:hover{
                                    color: var(--color-primary);
                                }
                            }
                            .slick-prev {
                                left:unset;
                                right:-5%;
                                top: 30%;
                                z-index: 2;
                                transform: rotate(90deg);
                            }
                            .slick-next {
                                right:-5%; 
                                top: 50%;
                                z-index: 2;
                                transform: rotate(90deg);
                            }
                        }
                    }
                    .justify-content-between {
                        flex-direction: column;

                        a {
                            font-size: 1.1rem;
                            font-weight: bold;
                            // letter-spacing: 1px;
                        }
                    }
                }
                .detail-category {
                    .cat-name {
                        padding: 0 0 1rem;
                        .catname {
                            height: 30px;
                            padding: 3px 3rem;
                            h4 {font-size: 1.2rem;padding: 0 .7rem;}
                        }
                        .cat-brand {
                            img {width: 120px;}
                            &.active{
                                &::after{
                                    border-bottom: unset;
                                }
                            }
                        }
                    }
                    .to-be-filtered {
                        img {width: 100%;max-width: 80%;}
                    }
                    .epc {
                        ul {padding-inline-start: 20px;}
                    }
                }
            }
        }
    }

    .footer {
        position: relative;
        height: auto;  //sebelumnya 300px
        h4 {font-size: 1.2rem;}
        p,ul{font-size: .8rem;margin-bottom: 0;}

        #f-mobile {
            padding-top: 2rem;
            h1 {font-size: 1.2rem;text-align: left;}
            .wa {&::before{left: 0;}}
            .ml-auto {margin-left: unset!important;}
            .sosmed {padding-top: .5rem; text-align: center;}
        }
        
        .footer-copy {
            span {
                padding: 1.2rem 0;
                margin-left: auto;
                margin-right: auto;
                font-size: .8rem;
                font-family: 'Ubuntu', sans-serif;
            }
        }
    }
}

@media only screen and (min-width: 768px) and (max-width: 960px) {
    body {
        header {
            .navbar {
                padding: .7rem;
                .navbar-brand {
                    padding-top: 0;
                    .img-brand {width: 115px;}                    
                    .img-shrink {width: 100px;}
                }
                .navbar-collapse {
                    .navbar-nav {
                        .nav-item {
                            margin-left: auto;
                            font: 400 .9rem/1rem 'Ubuntu', sans-serif;
                            .nav-link {
                                padding: .5rem 0 .5rem 1rem;
                            }
                        }
                    }
                } 
                &.navbar-scrolled, &.nav-pages {
                    box-shadow: 0px 1px 20px 1px #424242;
                    -webkit-box-shadow: 0px 1px 20px 1px #424242;
                    .m-toggle {color: #fff;}
                }
            }
        }
        main {
            .products {
                .product-category {
                    padding-top: .5rem;
                    #category-sm {
                        display: flex;
                        padding-bottom: 2rem;
                        .cat-sm {
                            max-width: 80%;
                            a {
                                color: var(--black);
                                padding: .5rem 0;
                                padding-inline-start: 35px;
                                text-decoration: none;
                                cursor: pointer;
                                transition: all .3s ease-in-out;
                                &.active {color: var(--color-primary);}
                                span {
                                    font-size: 1.4rem;
                                    position: absolute;
                                    left: 3px;
                                }   
                                &:hover{
                                    color: var(--color-primary);
                                }
                            }
                            .slick-prev {
                                left:unset;
                                right:-5%;
                                top: 30%;
                                z-index: 2;
                                transform: rotate(90deg);
                            }
                            .slick-next {
                                right:-5%; 
                                top: 50%;
                                z-index: 2;
                                transform: rotate(90deg);
                            }
                        }
                    }
                }
            }
        }
    }
}


@media only screen and (min-width: 961px) and (max-width: 1024px) {
    body {
        main {
            .products {
                .product-category {
                    padding-top: .5rem;
                    #category-sm {
                        display: flex;
                        padding-bottom: 2rem;
                        .cat-sm {
                            max-width: 80%;
                            a {
                                color: var(--black);
                                padding: .5rem 0;
                                padding-inline-start: 35px;
                                text-decoration: none;
                                cursor: pointer;
                                transition: all .3s ease-in-out;
                                &.active {color: var(--color-primary);}
                                span {
                                    font-size: 1.4rem;
                                    position: absolute;
                                    left: 3px;
                                }   
                                &:hover{
                                    color: var(--color-primary);
                                }
                            }
                            .slick-prev {
                                left:unset;
                                right:-5%;
                                top: 30%;
                                z-index: 2;
                                transform: rotate(90deg);
                            }
                            .slick-next {
                                right:-5%; 
                                top: 50%;
                                z-index: 2;
                                transform: rotate(90deg);
                            }
                        }
                    }
                }
            }
        }
    }
}
