@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
:root {
  --grey: #9b9b9b;
  --black: #1A1A1A;
  --dark-grey: #333333;
  --soft-white: #fafafa;
  --color-primary: #FBB03B;
  --color-secondary: #8B1A7E; }

@media only screen and (min-width: 320px) and (max-width: 767px) {
  body header .navbar {
    padding: 0 1rem; }
    body header .navbar .navbar-brand {
      padding-top: 0; }
      body header .navbar .navbar-brand .img-brand {
        width: 95px; }
      body header .navbar .navbar-brand .img-shrink {
        width: 90px; }
    body header .navbar .navbar-nav {
      display: none; }
    body header .navbar.navbar-scrolled, body header .navbar.nav-pages {
      box-shadow: 0px 1px 20px 1px #424242;
      -webkit-box-shadow: 0px 1px 20px 1px #424242; }
      body header .navbar.navbar-scrolled .m-toggle, body header .navbar.nav-pages .m-toggle {
        color: #fff; }
  body header .mobile-menu {
    display: flex !important;
    padding: 0.5rem 0;
    margin-left: auto; }
    body header .mobile-menu.opened .m-toggle {
      color: var(--color-primary); }
      body header .mobile-menu.opened .m-toggle::before {
        content: 'clear'; }
    body header .mobile-menu.opened .menu {
      top: 0;
      height: 100vh; }
      body header .mobile-menu.opened .menu .menu-wrapper {
        display: block;
        opacity: 1; }
    body header .mobile-menu .m-toggle {
      color: #fff;
      text-decoration: none;
      border: none;
      background: transparent; }
      body header .mobile-menu .m-toggle::before {
        font-family: "Material Icons";
        content: 'menu';
        font-size: 1.5rem;
        font-weight: normal; }
      body header .mobile-menu .m-toggle:focus {
        outline: none; }
    body header .mobile-menu .menu {
      background: var(--black);
      width: 100vw;
      height: 0;
      position: absolute;
      top: -15rem;
      left: 0;
      z-index: -1;
      transition: .5s all ease-in-out; }
      body header .mobile-menu .menu .menu-wrapper {
        opacity: 0;
        display: none;
        position: relative;
        height: inherit;
        transition: opacity .5s ease; }
        body header .mobile-menu .menu .menu-wrapper #menu-item {
          width: 80%; }
          body header .mobile-menu .menu .menu-wrapper #menu-item .btn-link {
            color: var(--soft-white);
            font-size: 1rem;
            text-transform: uppercase; }
            body header .mobile-menu .menu .menu-wrapper #menu-item .btn-link:hover, body header .mobile-menu .menu .menu-wrapper #menu-item .btn-link:focus {
              color: var(--color-primary);
              text-decoration: none;
              box-shadow: none; }
          body header .mobile-menu .menu .menu-wrapper #menu-item .card, body header .mobile-menu .menu .menu-wrapper #menu-item .card-header {
            background-color: unset;
            border: unset;
            padding: 0 1rem; }
  body main#content {
    padding-bottom: 0; }
  body main .cta-link {
    font-size: 1rem; }
  body main .carousel-indicators {
    display: none; }
  body main .header {
    height: 45vh; }
    body main .header .small-device-wrapper {
      top: 47% !important; }
      body main .header .small-device-wrapper .heading {
        font-size: 1.7rem;
        line-height: 1.5rem; }
  body main .showcase {
    padding: 1rem; }
    body main .showcase .showcase-model-one {
      height: unset !important; }
      body main .showcase .showcase-model-one .text {
        padding: 1rem 0;
        max-width: 100%; }
        body main .showcase .showcase-model-one .text h2 {
          font-size: 1.5rem; }
      body main .showcase .showcase-model-one .showcase-product img#pr {
        height: auto;
        width: 80%; }
    body main .showcase .showcase-model-two {
      height: 300px; }
      body main .showcase .showcase-model-two .text {
        padding: 1rem;
        max-width: 100%; }
        body main .showcase .showcase-model-two .text h2 {
          font-size: 1.5rem; }
  body main .partners h2 {
    font-size: 1.5rem; }
  body main .about-us {
    padding: 2rem 0; }
    body main .about-us h2 {
      font-size: 1.5rem; }
    body main .about-us span {
      font-size: 1.2rem;
      font-weight: 500; }
    body main .about-us .about-content .desc {
      line-height: 1.2rem;
      font-weight: 300; }
    body main .about-us .about-content .border-grey {
      height: 250px; }
    body main .about-us .about-content .tagline p, body main .about-us .about-content span {
      font-size: 1.3rem !important; }
    body main .about-us .about-content .about-image .overlay {
      position: relative;
      margin: auto;
      width: 70%; }
  body main .section.header.contact .maps {
    margin: 5rem 0 2rem !important; }
  body main .contact-us h2 {
    font-size: 1.5rem; }
  body main .contact-us .the-form {
    padding: 1rem; }
    body main .contact-us .the-form label {
      font-size: 0.8rem; }
  body main .products {
    padding: 2rem 0; }
    body main .products h2 {
      font-size: 1.5rem; }
    body main .products p, body main .products li {
      line-height: 1.2rem;
      font-weight: 300; }
    body main .products .product-category {
      padding-top: .5rem; }
      body main .products .product-category #category-sm {
        display: flex;
        padding-bottom: 2rem; }
        body main .products .product-category #category-sm .cat-sm {
          max-width: 80%; }
          body main .products .product-category #category-sm .cat-sm a {
            color: var(--black);
            padding: .5rem 0;
            padding-inline-start: 35px;
            text-decoration: none;
            cursor: pointer;
            transition: all .3s ease-in-out; }
            body main .products .product-category #category-sm .cat-sm a.active {
              color: var(--color-primary); }
            body main .products .product-category #category-sm .cat-sm a span {
              font-size: 1.4rem;
              position: absolute;
              left: 3px; }
            body main .products .product-category #category-sm .cat-sm a:hover {
              color: var(--color-primary); }
          body main .products .product-category #category-sm .cat-sm .slick-prev {
            left: unset;
            right: -5%;
            top: 30%;
            z-index: 2;
            transform: rotate(90deg); }
          body main .products .product-category #category-sm .cat-sm .slick-next {
            right: -5%;
            top: 50%;
            z-index: 2;
            transform: rotate(90deg); }
      body main .products .product-category .justify-content-between {
        flex-direction: column; }
        body main .products .product-category .justify-content-between a {
          font-size: 1.1rem;
          font-weight: bold; }
    body main .products .detail-category .cat-name {
      padding: 0 0 1rem; }
      body main .products .detail-category .cat-name .catname {
        height: 30px;
        padding: 3px 3rem; }
        body main .products .detail-category .cat-name .catname h4 {
          font-size: 1.2rem;
          padding: 0 .7rem; }
      body main .products .detail-category .cat-name .cat-brand img {
        width: 120px; }
      body main .products .detail-category .cat-name .cat-brand.active::after {
        border-bottom: unset; }
    body main .products .detail-category .to-be-filtered img {
      width: 100%;
      max-width: 80%; }
    body main .products .detail-category .epc ul {
      padding-inline-start: 20px; }

  .footer {
    position: relative;
    height: auto; }
    .footer h4 {
      font-size: 1.2rem; }
    .footer p, .footer ul {
      font-size: .8rem;
      margin-bottom: 0; }
    .footer #f-mobile {
      padding-top: 2rem; }
      .footer #f-mobile h1 {
        font-size: 1.2rem;
        text-align: left; }
      .footer #f-mobile .wa::before {
        left: 0; }
      .footer #f-mobile .ml-auto {
        margin-left: unset !important; }
      .footer #f-mobile .sosmed {
        padding-top: .5rem;
        text-align: center; }
    .footer .footer-copy span {
      padding: 1.2rem 0;
      margin-left: auto;
      margin-right: auto;
      font-size: .8rem;
      font-family: 'Ubuntu', sans-serif; } }
@media only screen and (min-width: 768px) and (max-width: 960px) {
  body header .navbar {
    padding: .7rem; }
    body header .navbar .navbar-brand {
      padding-top: 0; }
      body header .navbar .navbar-brand .img-brand {
        width: 115px; }
      body header .navbar .navbar-brand .img-shrink {
        width: 100px; }
    body header .navbar .navbar-collapse .navbar-nav .nav-item {
      margin-left: auto;
      font: 400 .9rem/1rem 'Ubuntu', sans-serif; }
      body header .navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
        padding: .5rem 0 .5rem 1rem; }
    body header .navbar.navbar-scrolled, body header .navbar.nav-pages {
      box-shadow: 0px 1px 20px 1px #424242;
      -webkit-box-shadow: 0px 1px 20px 1px #424242; }
      body header .navbar.navbar-scrolled .m-toggle, body header .navbar.nav-pages .m-toggle {
        color: #fff; }
  body main .products .product-category {
    padding-top: .5rem; }
    body main .products .product-category #category-sm {
      display: flex;
      padding-bottom: 2rem; }
      body main .products .product-category #category-sm .cat-sm {
        max-width: 80%; }
        body main .products .product-category #category-sm .cat-sm a {
          color: var(--black);
          padding: .5rem 0;
          padding-inline-start: 35px;
          text-decoration: none;
          cursor: pointer;
          transition: all .3s ease-in-out; }
          body main .products .product-category #category-sm .cat-sm a.active {
            color: var(--color-primary); }
          body main .products .product-category #category-sm .cat-sm a span {
            font-size: 1.4rem;
            position: absolute;
            left: 3px; }
          body main .products .product-category #category-sm .cat-sm a:hover {
            color: var(--color-primary); }
        body main .products .product-category #category-sm .cat-sm .slick-prev {
          left: unset;
          right: -5%;
          top: 30%;
          z-index: 2;
          transform: rotate(90deg); }
        body main .products .product-category #category-sm .cat-sm .slick-next {
          right: -5%;
          top: 50%;
          z-index: 2;
          transform: rotate(90deg); } }
@media only screen and (min-width: 961px) and (max-width: 1024px) {
  body main .products .product-category {
    padding-top: .5rem; }
    body main .products .product-category #category-sm {
      display: flex;
      padding-bottom: 2rem; }
      body main .products .product-category #category-sm .cat-sm {
        max-width: 80%; }
        body main .products .product-category #category-sm .cat-sm a {
          color: var(--black);
          padding: .5rem 0;
          padding-inline-start: 35px;
          text-decoration: none;
          cursor: pointer;
          transition: all .3s ease-in-out; }
          body main .products .product-category #category-sm .cat-sm a.active {
            color: var(--color-primary); }
          body main .products .product-category #category-sm .cat-sm a span {
            font-size: 1.4rem;
            position: absolute;
            left: 3px; }
          body main .products .product-category #category-sm .cat-sm a:hover {
            color: var(--color-primary); }
        body main .products .product-category #category-sm .cat-sm .slick-prev {
          left: unset;
          right: -5%;
          top: 30%;
          z-index: 2;
          transform: rotate(90deg); }
        body main .products .product-category #category-sm .cat-sm .slick-next {
          right: -5%;
          top: 50%;
          z-index: 2;
          transform: rotate(90deg); } }

/*# sourceMappingURL=main-smaller.css.map */
